html, body {
    min-height: 100vh;
    margin: 0;
}
.container {
    width: 75vw;
    min-height: 100vh;
    display: flex;
    flex-direction: row;
}

.navbar {
    height: 97vh;
    width: 20vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
    position: relative;
}

.navigate{
    display: flex;
    flex-direction: column;
}

.inner-container {
    height: 100vh;
    width: 75vw;
    display: flex;
    flex-direction: column;
}

.carousel{
    height: 35vh;
    width: 100%;
    overflow-x: scroll;
    overflow-y: hidden;
    display: flex;
    flex-direction: row;
    margin-top: 10%;
}

.rest-card {
    height: 85%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 10px;
}

img {
    max-width: 300px;
}

.tinypic {
    max-width: 180px;
}

.restaurant {
    display: flex;
    flex-direction: row;
}

.card-inner {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}