form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

#form-body {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    gap: 50px;
    /* justify-content: space-between; */
    height: 50%;
    border:1px solid black;
    border-radius: 10px;
    padding: 30px;
    width: 30%;
}

input {
    padding: 10px;
    border: 2px solid black;
}

#add-form {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    gap: 30px;
    border:1px solid black;
    border-radius: 10px;
    padding: 30px;
    width: 40%;
}

#add-form > button {
    align-self: center;
    width: 80%;
    font-size: 26px;
    height: 50px;
    background-color:rgb(27, 228, 27);
    box-shadow: 5px 10px #888888;
    border-radius:5px
}
#add-form > label {
    margin-left: 10%;
    font-size: 26px
}
#add-form > input, #add-form > textarea {
    width: 79%;
    margin-left: 10%;
    margin-top: 2px;
    font-size: 20px;
    border: 2px solid black;
}

#form-body > button {
    align-self: center;
    width: 80%;
    font-size: 26px;
    height: 50px;
    background-color:rgb(27, 228, 27);
    box-shadow: 5px 10px #888888;
    border-radius:5px
}
#form-body > label {
    margin-left: 10%;
    font-size: 26px
}
#form-body > input, #form-body > textarea {
    width: 79%;
    margin-left: 10%;
    margin-top: 2px;
    font-size: 20px;
}
.container {
    width: 100vw;
    margin: 0;
}
.restaurant-form {
    margin-left: 15%;
    width: 70vw;
}