

li {
  list-style: none;
  font-size: "30px";
  
}

/* .res-conatiner {
  display: flex;
  justify-content: space-around;
  margin-top:50%;
} */

.container {
  width: 90vw;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  /* margin-top: 10%; */
}

.inner-container {
  height: 100vh;
  width: 75vw;
  display: flex;
  flex-direction: column;
  margin-left: 10%;
  margin-top: 10%;
}
.rest-item {
  padding: 10px;
  margin: 10px;
  font-size: 15px;

}

.reserve {
  font-size: 24px;
  color: '#545e6f'; 
  background: '#f0f0f0';
  margin-top:10px;
  margin-left: 70px;
  height: 40px;
  position: relative;
  left: 67%;
  border-radius:20px;
  border-width:0;
  background-color:rgb(61, 175, 61);
}

/* .reserve:hover {
  background-color: transparent;
} */

li:nth-child(odd) {
  background-color:rgb(221, 217, 217);
  
}