.container {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  display: none;
  background: white;
  z-index: 99;

  li a {
    text-decoration: none;
    color: #454545;
    font-weight: 600;
    text-transform: uppercase;
    width: calc(100% - 20px);
    display: block;
    padding: 15px;
    margin-left: 20px;

    & :hover {
      background: #97bf0f;
      color: white;
    }
  }

  .socialMediaBlock {
    position: absolute;
    bottom: 30px;
    left: calc(50% - 215px / 2);

    div {
      display: flex;
    }

    .socialButton {
      padding: 10px;
      width: 41px;
      margin: 0;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;

      &:hover {
        fill: white;
        background: lightgray;
      }
    }
  }

  button {
    text-decoration: none;
    color: #454545;
    font-weight: 600;
    text-transform: uppercase;
    display: block;
    padding: 15px;
    cursor: pointer;
    text-align: left;
    background: white;
    font-size: 16px;
    width: 248px;
    margin-left: 20px;

    &:hover {
      background: #c26666;
      color: white;
    }
  }

  img {
    width: 220px;
  }
}

a.active {
  background: #97bf0f;
  color: white;
}

@media (min-width: 800px) {
  .container {
    display: block;
    width: 270px;
    border-right: 2px solid whitesmoke;

    img {
      width: 268px;
    }
  }

  .socialMediaBlock {
    margin-left: 20px;
    left: 0;

    div {
      margin-left: 10px;
    }

    span {
      margin-left: 15px;
    }
  }
}
